pandas
numpy
scikit-learn
transformers
datasets
torch
sentence-transformers
tf-keras
gradio
google-generativeai
matplotlib
seaborn
wordcloud
python-dotenv
pydantic
openai-whisper
librosa
soundfile
pyttsx3